* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.3;
  color: #222;
}

.banner {
  width: 100%;
  background-color: #051e56;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px
}

.banner img {
  max-width: 500px;
  justify-self: center;
  align-self: end;
}

.banner-content {
  align-self: center;
}

h1 {
  font-family: "Inter";
  color: white;
  font-size: 3rem;
  width: 80%;
}

.banner-content p {
  font-family: "Inter";
  font-weight: 200;
  margin-top: 10px;
  color: white;
  width: 80%;
  font-size: 1rem;
}

.banner-social-media i{
    font-size: 1.2em;
    margin-top: 15px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-top: 30px;
    gap: 2em;
}

.numbers div {
  border-right: 1px solid white;
}

.numbers div:last-child {
  border-right: none; 
}

.numbers h5{
    font-family: "Inter";
    font-weight: bold;
    font-size: 2em ;
    color: white;
}


/* Responsiveness css rules */


@media (max-width: 992px) {
  .banner img {
  height: 450px;
}
h1 {
  width: 90%;
}

.banner-content p {
  width: 90%;
}

}

@media (max-width: 727px) {
  
h1 {
  width: 100%;
  font-size: 2.5rem;
}

.banner-content p {
  width: 100%;
}

}

@media (max-width: 576px) {
  
    .banner {
  grid-template-columns: 1fr; 
  padding-bottom: 20px;
  
}
h1 {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.banner-social-media {
    place-self: center;
}

.banner-content p {
  width: 100%;
  text-align: center;
}

.numbers{
    display: none;
}



}